
<include href="views/header.html"></include>
    <body>

    <div class="container">
    <h1>Welcome to the GRC dinner</h1>

    <h2>Serving the best burgers in Auburn</h2>

    <h3>View Menus</h3>
    <a href="menus/breakfast">Breakfast</a>

    <a href="menus/lunch">Lunch</a>
    <a href="menus/dinner">dinner</a>




    <a type="button" class="btn btn-primary" href="order1">Place an Order</a>
    <br><br>
    <img src="images/Diner-3_web.jpg">


    </div>
    </body>
</html>